* {
    box-sizing: border-box;
 }
 
 body {
     margin: 0;
     font-family: "Open Sans", "Arial", sans-serif;
 }
 
 .container {
     max-width:1440px;
     margin: 0 auto;
     padding: 0 20px;
 }
 
 .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
 }
 
 .sitenav {
    display: flex;
    align-items: center;
 }
 
 .sitenav-list {
     padding: 0;
     display: flex;
     align-items: center;
     list-style: none;
 }
 
 .sitenav-item {
     margin-right: 30px;
 }
 
 .sitenav-item-link {
    font-weight: 700; 
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #9597A5;
    text-decoration: none;
 }
 
 .sitenav-item-link:hover {
     color:#2D314D; 
 }
 
 .header-link {
     width: 207px;
     height: 47px;
     font-weight: 700;
     font-size: 15px;
     line-height: 22px;
     letter-spacing: 2px;
     text-decoration: none;
     background-color: #62dc7c;
     background-color: #33D35E;
     border-radius: 50px;
     color: #FFFFFF;
     border: 2px solid transparent;
     padding: 12px 24px;
 }
 
 .header-link:hover {
    color:#FFFFFF; 
    background-color: #83DFB8;
    border: 2px solid #FFFFFF;
 }
 
 .hero {
     padding-top: 29px;
 }
 
 .hero-wrapper {
     display: flex;
     justify-content: space-between;
 }
 
 .hero-wrapper-box {
    width: 500px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
 }
 
 .hero-title { 
     margin: 0px;
     padding: 0px;
     margin-bottom: 16px;
     font-weight: 100;
     font-size: 56px;
     line-height: 64px;
     letter-spacing: -1%;
     color: #2D314D;
 }
 
 .hero-text {
     font-weight: 400;
     font-size: 18px;
     line-height: 28px;
     color: #9597A5;
     letter-spacing: -0.28px;
     margin-bottom: 36px;
 }